<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>用户中心</title>
	<link rel="stylesheet" type="text/css" href="../../static/news/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../static/news/css/jquery.pagination.css">
    <link rel="stylesheet" type="text/css" href="../../static/news/css/main.css">
    <script type="text/javascript" src="../../static/news/js/jquery-1.12.4.min.js"></script>
	<script type="text/javascript" src="../../static/news/js/jquery.pagination.min.js"></script>
</head>
<body class="inframe_body">
    <div class="my_collect">
        <h3>我的收藏</h3>

        <ul class="article_list">
            {% for news in data.collections %}
            <!--// target 新窗口打开，如果不加 当前页加载（ifame）-->
                <li><a href="/news/{{ news.id }}" target="_blank">{{ news.title }}</a><span>{{ news.create_time }}</span></li>
            {% endfor %}
        </ul>
    <div id="pagination" class="page"></div>



<script>
    $(function() {
        // 第三方插件 专门用来做分页 jquery.pagination.min.js
        // 参数 是当前页数与总页数
        $("#pagination").pagination({
            currentPage: {{ data.current_page }},
            totalPage: {{ data.total_page }},
        // 点击回调 获取当前的页数
            callback: function(current) {
                // 界面跳转 给他什么网址 就跳转至指定网址
                location.href = "/user/collection?p=" + current
            }
        });
    });
</script>

    </div>
</body>
</html>